{% extends "base.html" %}

{% block content %}
<a class="nav-link" href="product_page">Редактировать продукты</a>
<a class="nav-link" href="category_page">Редактировать категории</a>
<a class="nav-link" href="modification_page">Редактировать модификации</a>
<a class="nav-link" href="stock_products">Редактировать продукты на складе</a>
<a class="nav-link" href="find_prod_for_img">Редактировать картинки</a>
<a class="nav-link" href="orders_page">Просмотр заказов</a>
<a class="nav-link" href="user_list">Список пользователей</a>
{% endblock %}