{% extends "base.html" %}

{% block content %}
<div class="create-product">
    <h2>Добавление категории</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label>Название:</label>
            <input type="text" id="id_name" value="{{category.name}}">
            <label id="name_err"></label>
        </p>
        <p>
            <label>Родительская категория:</label>
            <input list="categories" name="par-cat" id="par-cat" value="{{category.parent_category.name}}">
            <label list="categories" name="lab" id="par-lab">Поле может быть пустым</label>
            <datalist id="categories">
                {% for c in cat %}
                    <option>{{ c.name }}
                {% endfor %}
            </datalist>
        </p>
        <label id="done"></label>
        <input type="button" value="Добавить" onclick="valid_form()" id="btn_submit">

    </form>
</div>
<script type="text/javascript" src="/static/classes/change_category.js?$$REVISION$$"></script>
{% endblock %}