{% extends "base.html" %}

{% block content %}
<div class="create-product">
    <h2>Редактирование продукта</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label>Название:</label>
            <input type="text" id="id_name" value="{{prod.name}}">
            <label id="name_err"></label>
        </p>
        <p>
            <label>Цена:</label>
            <input type="number" step="0.01" id="id_price" min="0" value="{{prod.price}}">
            <label> (в рублях)</label>
            <label id="price_err"></label>
        </p>
        <p>
            <label>Рейтинг:</label>
            <input type="number" min="0"  id="id_rating" value="{{prod.rating}}">
            <label>*опционально</label>
            <label id="rating_err"></label>
        </p>
        <p>
            <label>Категории:</label>
            <datalist id="categories">
                {% for cat in categories %}
                    <option>{{ cat.name }}
                {% endfor %}
            </datalist>
        </p>
        <div class="container" id="new-cat">
        </div>
        <p><input type="button" value="Добавить ещё категорию" id="add-existing-cat" onclick="add_cat()"></p>
        <p>
            <label>Главная категория:</label>
            <input list="categories" name="category" id="main-cat" value="{{prod.main_category.name}}">
            <label list="categories"  id="main-lab"></label>
        </p>
        <label id="done"></label>
        <input type="button" value="Изменить" onclick="valid_form()" id="btn_submit">

    </form>
</div>
<script type="text/javascript" src="/static/classes/admin_change_product.js?$$REVISION$$"></script>
{% endblock %}