{% extends 'registration/profile_navigation.html' %}

{% block data %}
    <div style="margin-top: 15%;padding-right: 25%;padding-left: 15%;width: 105%;">
        {% if not empty %}
            <table class="table">
                  <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Тема</th>
                        <th scope="col">Содержание</th>
                    </tr>
                  </thead>
                  <tbody id="addresses">
                        {% for key in issues %}
                            <tr>
                                <th scope="row">{{ key.id }}</th>
                                <th scope="row">{{ key.status }}</th>
                                <th scope="row">{{ key.topic }}</th>
                                <th scope="row"><a class="btn btn-primary" href="/accounts/issues?issue={{ key.id }}">Просмотреть</a></th>
                            </tr>
                        {% endfor %}
                  </tbody>
            </table>
        {% else %}
            <div class="form-row" style="margin-left: 6%;margin-top: 25%;">
                    <div class="form-group col-md-11">
                        <h3 style="margin-left: 15%">У вас нет активных жалоб</h3>
                        <button style="margin-top: 2%;" class="btn btn-primary btn-block">Создать жалобу</button>
                    </div>
            </div>
        {% endif %}
    </div>
{% endblock %}