{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    {% load widget_tweaks %}
        <h2 style="text-align: center; margin-top: 20px;">Забыли пароль?</h2>
        <div style="display: flex; justify-content: center;">
            <form class="form-inline" method="post" style="margin-top: 20px;">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field form.email class+='form-control' placeholder='Email' %}
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Сбросить пароль</button>
            </form>
        </div>
{% endblock %}