{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    <div style="margin-left: 35%;margin-top: 10%;">
        <h2 style="margin-left: 5%;">Забыли пароль?</h2>
        <form class="form-inline" method="post" style="margin-top: 6%;">
            {% csrf_token %}
              <div class="form-group mb-2" style="margin-left: 1%;">
                {% render_field form.email class+='form-control' placeholder='Email' %}
              </div>
              <button type="submit" style="margin-left: 1%;" class="btn btn-primary mb-2">Сбросить пароль</button>
        </form>
    </div>
{% endblock %}