<h3 style="text-align: center;">Адрес</h3>
<div class="form-group">
    <label for="city_input">Город</label>
    <input type="text" class="form-control" placeholder="Введите Ваш город" required>
</div>
<div class="form-group">
    <label for="street_input">Улица</label>
    <input type="text" class="form-control" placeholder="Введите Вашу улицу" required>
</div>
<div class="form-group">
    <label for="building_input">Строение</label>
    <input type="text" class="form-control" placeholder="Введите номер Вашего строения (необязательно)">
</div>
<div class="form-group">
    <label for="entrance_input">Подъезд</label>
    <input type="text" class="form-control" placeholder="Введите номер Вашего подъезда" required>
</div>
<div class="form-group">
    <label for="flat_input">Квартира</label>
    <input type="text" class="form-control" placeholder="Введите номер Вашей квартиры" required>
</div>
