<h3 style="text-align: center;">Адрес</h3>
<div class="form-group">
    <label for="city_input">Город</label>
    <input id="city_input" type="text" class="form-control" placeholder="Введите Ваш город" required>
</div>
<div class="form-group">
    <label for="street_input">Улица</label>
    <input id="street_input" type="text" class="form-control" placeholder="Введите Вашу улицу" required>
</div>
<div class="form-group">
    <label for="building_input">Дом</label>
    <input id="building_input" type="text" class="form-control" placeholder="Введите номер Вашего дома" required>
</div>
<div class="form-group">
    <label for="entrance_input">Подъезд</label>
    <input id="entrance_input" type="text" class="form-control" placeholder="Введите номер Вашего подъезда" required>
</div>
<div class="form-group">
    <label for="flat_input">Квартира</label>
    <input id="flat_input" type="text" class="form-control" placeholder="Введите номер Вашей квартиры" required>
</div>
<div class="form-group">
    <label for="description_input">Описание адреса</label>
    <input id="description_input" type="text" class="form-control" placeholder="Введите описание адреса, чтобы потом Вы могли его вспомнить :)" required>
</div>