{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="padding:0px;">
    <div class="row no-gutters">
        <div class="col-auto">
            {% include 'sidebar.html' %}
        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    {% include 'product_preview.html'%}
                </div>
                <div class="col-4">
                    {% include 'product_preview.html'%}
                </div>
                <div class="col-4">
                    {% include 'product_preview.html'%}
                </div>
                <div class="col-4">
                    {% include 'product_preview.html'%}
                </div>
                <div class="col-4">
                    {% include 'product_preview.html'%}
                </div>
                <div class="col-4">
                    {% include 'product_preview.html'%}
                </div>
                <div class="col-4">
                    {% include 'product_preview.html'%}
                </div>
                <div class="col-4">
                    {% include 'product_preview.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}