
<div class="navbar-nav">
    <nav id="navbar-example3" class="navbar navbar-light" style="align-items: flex-start;">
      <nav class="nav flex-column" style="height: 100vh;">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 110%;">
                    Верхняя одежда
                    <span class="sr-only"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ml-3 my-1" href="#item-1-1" style='color:black'>Куртки</a>
                        <a class="nav-link ml-3 my-1" href="#item-1-2" style='color:black'>Пальто</a>
                        <a class="nav-link ml-3 my-1" href="#item-1-2" style='color:black'>Парки</a>
                        <a class="nav-link ml-3 my-1" href="#item-1-2" style='color:black'>Флисы</a>
                        <a class="nav-link ml-3 my-1" href="#item-1-2" style='color:black'>Ветровки</a>
                    </nav>
                </div>
              </li>
            </ul>
            <a class="nav-link" href="#item-2" style='color:black'>Штаны</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#item-3-1" style='color:black'>Джинсы</a>
                <a class="nav-link ml-3 my-1" href="#item-3-2" style='color:black'>Брюки</a>
                <a class="nav-link ml-3 my-1" href="#item-3-2" style='color:black'>Спортинвые штаны</a>
            </nav>
            <a class="nav-link" href="#item-2" style='color:black'>Толстовки</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#item-3-1" style='color:black'>С капюшоном</a>
                <a class="nav-link ml-3 my-1" href="#item-3-2" style='color:black'>Свитера</a>
                <a class="nav-link ml-3 my-1" href="#item-3-2" style='color:black'>Привет</a>
            </nav>
      </nav>
    </nav>
</div>




{#<script>#}
{#$(document).ready(function(){#}
{#  $('.dropdown-submenu a.test').on("click", function(e){#}
{#    $(this).next('ul').toggle();#}
{#    e.stopPropagation();#}
{#    e.preventDefault();#}
{#  });#}
{#});#}
{#</script>#}

